services:
  app:
    build: .
    container_name: barber-api
    env_file:
      - .env
    expose:
      - "3000"
    networks:
      - internal_net

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    command: http --domain=decent-happily-herring.ngrok-free.app app:3000
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTH}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - internal_net
    ports:
      - "4040:4040"

networks:
  internal_net:
    driver: bridge
